{% extends 'base.html' %} 
{% block title %} Bird Details {% endblock %}
{% block content %}
<div class="detail__img">
    <img src="{{birds.img}}" alt="{{birds.name}}" />
</div>
<div class="detail__name">
    {% if birds.verified_artist %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %}
    <h1 class="title">{{birds.name}}</h1>
    <span>
        <div class="dropdown">
          <div class="dropdown-trigger">
            <button
              class="button"
              aria-haspopup="true"
              aria-controls="dropdown-menu"
            >
              <span>Add to Zoo</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              {% for zoo in zoos %}
          <!-- each playlist becomes a drop
          down item with the ids needed to add to the join table  -->
              <a
                href="{% url 'zoo_birds_assoc' zoo.pk birds.pk %}?assoc=add"
                class="dropdown-item"
              >
                {{zoo.title}}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </span>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'birds_update' birds.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'birds_delete' birds.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <form class="mb-5" action="{% url 'habitat_create' birds.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="name"
                    placeholder="type of habitat"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="location"
                    placeholder="location"
                    required
                />
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add Habitat" />
            </div>
        </div>
    </form>
    <!-- inside container -->
<div class="detail__songs mb-5">
    <h3 class="title is-3">Habitats</h3>
    {% for habitat in birds.habitats.all %}
        <div class="song">
            <span>{{forloop.counter}}</span>
            <span><b>Type: {{habitat.name}}</b></span>
            <span>Location: {{habitat.location}}</span>
        </div>
 
    {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Habitats Available</p>
            </div>
        </article>
    {% endfor %}
</div>
<!--  above about section  -->
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{birds.bio}}</p>
    </div>
</div>
{% endblock %}