{% extends 'base.html' %} {% block content %}
{% block title %}Delete Confirmation{% endblock %}
<h1 class="title pt-5">Are you sure you want to Delete {{birds.name}}?</h1>
<form method="post">
    {% csrf_token %}
    <div class="buttons">
    <!-- confirm artist delete -->
        <input class="button is-danger" type="submit" value="Confirm" />
        <!-- Redirect back to detail on cancel -->
        <a class="button is-primary" href="{% url 'birds_detail' birds.pk %}">Cancel</a>
    </div>
</form>
{% endblock %}