{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>Bird Collector</h1>
<div class="home__playlists">
    {% for zoo in zoos %}

        <div class="playlist mb-5">
            <h3 class="title is-3 has-text-success">{{zoo.title}}</h3>
            <hr />

            {% for bird in zoo.birds.all %}

                <div class="song">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{bird.name}}</b></span>
                    {% if user.is_authenticated %}
                    <span>
                        <!--   Here we are creating an anchor
                        tag that when clicked will hit our new
                        route and send a query to remove the song     -->
                        <a href="{% url 'zoo_birds_assoc' zoo.pk bird.pk %}?assoc=remove" class="button is-danger is-outlined">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                        </a>
                    </span>
                    {% endif %}
                </div>

            {% endfor %}
        </div>
    {% empty %} 
        <div class="playlist mb-5">"There are no zoos available"</div>
    {% endfor %}
</div>
{% endblock %}
